{% extends 'base.html' %}
{% block title %}
<title>Accounts</title>
{% endblock title %}
<!-- body start -->
{% block body %}
<div class="row">
  <div class="col-md-5">
    <div class="table-dash">
      <button type="button" class="btn btn-primary">
        Individual Outstandings
      </button>
      <table class="table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Outstanding</th>
            <th>Paid</th>
            <th>Remainder</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.name }}</td>
            <td>{{ invoice.remain }}</td>
            <td>{{ invoice.paid }}</td>
            <td>
              <button type="button" class="btn btn-info">
                Send Remainder
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <div class="table-dash">
      <a href="{% url 'create_invoice' %}">
      <button type="button" class="btn btn-primary">
        Consultation's Outstandings
      </button></a>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Patient Name</th>
            <th>Paid</th>
            <th>Outstanding</th>
            <th>Total</th>
            <th>Invoice</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.name }}</td>
            <td>{{ invoice.paid }}</td>
            <td>{{ invoice.remain }}</td>
            <td>{{ invoice.paid }}+{{ invoice.remain }}</td>
            {% if invoice.link %}
            <td><a href="{{ invoice.link.url }}" onerror="this.href='#';">Open Invoice</a></td>
            {% else %}
            <td><a href="#">Open Invoice</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
