{% extends 'base.html' %}
{% block style %}
    <style>
      /* .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
      }*/
      .map-container iframe {
        width: 100%;
        height: 500px;
      }
      .map-container {
        padding: 50px 0;
      }
      #modify-btn {
        border: solid 1px;
        border-radius: 0;
        letter-spacing: 0.1em;
        padding: 10px 25px;
      }
      .contact-details p {
        float: right;
      }
      .form-group input, .form-group textarea{
          margin: 1.5rem 0px 0.5rem 0px;
      }
      body{
          padding-bottom: 50px;
          font-family: 'Balsamiq Sans', cursive;
      }
    </style>
  {% endblock style %}
  {% block body %}
    <div class="container">
      <div class="col-md-12 map-container">
        <iframe
          src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          style="border: 0;"
          allowfullscreen
        ></iframe>
      </div>
      <h2>Get in Touch</h2>
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <textarea
                rows="10"
                class="form-control"
                placeholder="NAME"
              ></textarea>
              <div class="row">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Name"
                  />
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Email" />
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Subject"
              />
            </div>
            <button type="button" id="modify-btn" class="btn btn-link">
              SEND
            </button>
          </form>
        </div>
        <div class="col-md-4" style="padding: 2.5rem;">
            <div class="col-md-12 contact-details">
                <p class="font-weight-bold" style="margin-bottom: 0px;">
                  <ion-icon name="home-outline"></ion-icon> ButtonWood,
                  California
                  <p >Rosemead, CA 91770</p>
                </p>
              </div>
              <div class="col-md-12 contact-details">
                <p class="font-weight-bold" style="margin-bottom: 0px;">
                  <ion-icon name="home-outline"></ion-icon> ButtonWood,
                  California
                  <p >Rosemead, CA 91770</p>
                </p>
              </div>
              <div class="col-md-12 contact-details">
                <p class="font-weight-bold" style="margin-bottom: 0px;">
                  <ion-icon name="home-outline"></ion-icon> ButtonWood,
                  California
                  <p >Rosemead, CA 91770</p>
                </p>
              </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
{% endblock body %}