{% extends 'base.html' %}
{% block title %}
<title> Dashboard</title>
{% endblock title %}
<!--body Start  -->
{% block body %}
<div class="row">
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">
          {% if user.user_type is 3 %} Total Doctor
          <!-- aiosdn -->
          {% elif user.user_type is 4 %} Total Appointment {% endif %}
        </h5>
      </div>
      <!-- /.container-->
    </section>

    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {% if user.user_type is 3 %} {{ doctors.count }}
        <!-- aiusdfnsa -->
        {% elif user.user_type is 4 %} {{ appointments.count }} {% endif %}
      </div>
    </section>
  </div>
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">
          {% if user.user_type is 3 %} Total Patient
          <!-- aishfd -->
          {% elif user.user_type is 4 %} Appointment Done {% endif %}
        </h5>
      </div>
      <!-- /.container-->
    </section>

    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {% if user.user_type is 3 %} {{ patients }}
        <!-- asfb -->
        {% elif user.user_type is 4 %} {{ approved }} {% endif %}
      </div>
    </section>
  </div>
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">
          {% if user.user_type is 3 %} On Duty Doctors
          <!-- haisdfh -->
          {% elif user.user_type is 4 %} Upcoming Appointment
          <!-- endif -->
          {% endif %}
        </h5>
      </div>
      <!-- /.container-->
    </section>
    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {% if user.user_type is 3 %} {{ active }} {% elif user.user_type is 4 %}
        {{ appointments.count }} - {{ approved }} {% endif %}
      </div>
    </section>
  </div>
</div>
{% if user.user_type is 3 %}
<div class="col-md-12">
  <h4>Doctors</h4>
  <div class="table-dash">
    <a href="{% url 'create' %}">
    <button type="button" class="btn btn-primary">
      Docotrs
    </button>
  </a>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Status</th>
          <th>Department</th>
          <th>Attendence</th>
          <th>Salary</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for doctor in doctors %}
        <tr>
          <td>{{ doctor.person.first_name }} {{ doctor.person.last_name }}</td>
          <td>{{ doctor.Phone }}</td>
          <td>{{ doctor.person.email }}</td>
          {% if doctor.gender is 1 %}
          <td>Female</td>
          {% elif doctor.gender is 2 %}
          <td>Male</td>
          {% else %}
          <td>Others</td>
          {% endif %}
          <td>25</td>
          {% if doctor.status is 1 %}
          <td>Active</td>
          {% else %}
          <td>Not Active</td>
          {% endif %}
          {% if doctor.Department is 1 %}
          <td>Eye Care</td>
          {% elif doctor.Department is 2 %}
          <td>Skin Care</td>
          {% elif doctor.Department is 3 %}
          <td>Surgery</td>
          {% elif doctor.Department is 4 %}
          <td>Physical Therapy</td>
          {% else %}
          <td>Dental</td>
          {% endif %}
          <td>{{ doctor.attendance }}</td>
          <td>{{ doctor.salary }}</td>
          <td>
            <a href="{% url 'profile_update' doctor.id %}"
              ><button type="button" class="btn btn-info">Update</button></a
            >
          </td>
          <td>
            <a href="{% url 'delete_confirm' doctor.id %}"
              ><button type="button" class="btn btn-danger">Delete</button></a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% elif user.user_type is 4 %}
<div class="row">
  <div class="col-md-5">
    <h4>Appointments:</h4>
    <div class="table-dash">
      <a href="{% url 'create_appointment' %}">
        <button type="button" class="btn btn-primary">
          Create Appointments
        </button></a
      >
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.doctor.person.first_name }}</td>
            <td>{{ appointment.patient.person.first_name }}</td>
            <td>{{ appointment.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <h4>Last 5 Patients</h4>
    <div class="table-dash">
      <a href="{% url 'create' %}">
        <button type="button" class="btn btn-primary">
          Create Patients
        </button></a
      >
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <td>{{ patient.person.username }}</td>
            <td>{{ patient.Phone }}</td>
            <td>{{ patient.person.email }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.age }}</td>
            <td>
              <a href="{% url 'profile_update' patient.id %}"
                ><button type="button" class="btn btn-info">Update</button></a
              >
            </td>
            <td>
              <a href="{% url 'delete_confirm' patient.id %}"
                ><button type="button" class="btn btn-danger">Delete</button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %} {% endblock body %}
