{% extends 'base.html' %}
{% block style %} {% endblock style %} 
{% block title %}
<title>Invoice</title>
{% endblock title %}
{% block body %}
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Invoice</th>
            <th>Paid</th>
            <th>Date</th>
            <th>Outstanding</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr>
            {% if invoice.link %}
            <td><a href="{{ invoice.link.url }}" onerror="this.href='#';">Open Invoice</a></td>
            {% else %}
            <td><a href="#">Open Invoice</a></td>
            {% endif %}
            <td>{{ invoice.paid }}</td>
            <td>{{ invoice.date }}</td>
            <td>{{ invoice.remain }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{invoice}}
{% endblock %}
