{% extends 'base.html' %} {% block style %} {% endblock style %}
{% block title %}
<title> Med history</title>
{% endblock title %}
<!-- body start -->
{% block body %}
<div class="container mt-30">
  <div class="col-md-9 medical-history">
    <h4>Date</h4>
    <p class="text-muted">Symptoms:</p>
    <p class="text-muted">
      Loreabsd adkahsrbe fsdaufjf yuasdb sdufifg cusdbd uadbyher cvsdyur
      vu89ngtcty dfdsf cs yuadhj fufbr vctyafde cyudbg cdbfbrg
    </p>
    <button type="button" class="btn btn-primary">Learn More</button>
  </div>
</div>
{% endblock body %}
