<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
      body {
        padding-bottom: 50px;
        font-family: "Balsamiq Sans", cursive;
      }
      .medical-history {
        border: solid 1.5px #d0c9c9;
        padding: 1rem;
        border-radius: 5px;
      }
      .pres-btn {
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    {% if user.user_type is 1 %}
    <button type="button" class="btn btn-outline-primary pres-btn">
      Create Prescription
    </button>
    <div class="container">
      <div class="col-md-9 medical-history">
        <h4>Date</h4>
        <p class="text-muted">Symptoms:</p>
        <p class="text-muted">
          Prescription:
        </p>
        <p class="text-muted">Patient Name:</p>
      </div>
    </div>
    {% elif user.user_type is 2 %}
    <div class="container">
      <div class="col-md-9 medical-history">
        <h4>Date</h4>
        <p class="text-muted">Symptoms:</p>
        <p class="text-muted">
          Loreabsd adkahsrbe fsdaufjf yuasdb sdufifg cusdbd uadbyher cvsdyur
          vu89ngtcty dfdsf cs yuadhj fufbr vctyafde cyudbg cdbfbrg
        </p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
    </div>
    {% else %}
    May be you are at wroong place
    {% endif %}
  </body>
</html>
