{% extends 'base.html' %} {% block style %} {% endblock style %}
<!--body Start  -->
{% block body %}
<div class="row">
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">Total Appointment</h5>
      </div>
      <!-- /.container-->
    </section>

    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {{ appointments.count }}
      </div>
    </section>
  </div>
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">Appointment Done</h5>
      </div>
      <!-- /.container-->
    </section>

    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {{ approved }}
      </div>
    </section>
  </div>
  <div class="col-md-4 pallet">
    <section class="bg-info text-center rounded-top">
      <div class="container">
        <h5 style="margin-bottom: 0px;">Upcoming Appointment</h5>
      </div>
      <!-- /.container-->
    </section>

    <section class="bg-primary text-center rounded-bottom">
      <div class="container h2">
        {{ appointments.count }} - {{ approved }}
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h4>Appointments:</h4>
    <div class="table-dash">
      <a href="{% url 'create_appointment' %}">
      <button type="button" class="btn btn-primary">
        Create Appointments
      </button></a>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.doctor.person.first_name }}</td>
            <td>{{ appointment.patient.person.first_name }}</td>
            <td>{{ appointment.status }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <h4>Last 5 Patients</h4>
    <div class="table-dash">
      <button type="button" class="btn btn-primary">Create Patients</button>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>123873295</td>
            <td>john@sdf.com</td>
            <td>F</td>
            <td>23</td>
            <td>
              <button type="button" class="btn btn-info">Update</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
